*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-justify-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.flex-justify-centre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.data-fetch {
  background: #eee9e0;
  padding: 20px 30px;
  width: 400px;
  box-shadow: 5px 5px 5px #c5c5c5;
  border-radius: 10px;
  line-height: 25px;
}
.view-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 10px;
}
.view-all img{
  width: 100px;
}
.section-first{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}